html{
    font-size: 10px;


}

/* 배경색 */
body{
    background-color: hsla(0, 0%, 91%, 1);
    /* background-attachment: fixed; */


    /* position: fixed; */


    /* overflow auto를 코드 자체를 비활성화하니 모바일버전의 가로스크롤이 사라짐 */
    /* overflow-x: hidden; */



    /* touch-action: none; */


    overflow-x:hidden; 

}



*{
    margin: 0px;
    padding: 0px;
}





.row{
    width: 100%;
    /* 무조건 div의 너비 생성하는 width는 100%로 */
    display: flex;
    
    overflow: auto;
    overflow-x: hidden;

    justify-content: center;
    align-items: center;
    
}


/* .row_2{
    width: 100vw;
    display: flex;
    overflow: auto;

    justify-content: center;
    align-items: center;
    
} */


a{
    color: #C2C2C2;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #515151;
  /* text-decoration: underline; */
}

a::after{
    transition: all 1.5s;
}


/* 모바일 용 칼럼 */
.col_3_mob{width: 30%; background-color: rgba(86, 138, 193, 0.799);}

.col_1_mob{display: block; width: 25%; background-color: rgba(0, 0, 255, 0);}
/* .col_2_mob{width: 46%; background-color: rgba(255, 166, 0, 0.799);} */

.col_all_mob{width: 100%; background-color: rgba(238, 130, 238, 0);}
.col_all_mob_thumb{width: 100%; background-color: rgba(174, 34, 78, 0);}
.col_all_web{width: 100%; background-color: rgba(238, 130, 238, 0);}
.col_3_web{width: 33.3%; background-color: rgba(229, 238, 130, 0);}
.col_1_6_7_web{width: 16.7%; background-color: rgba(229, 238, 130, 0);}


.col_margin_menu{width: 1.5rem; background-color: rgba(255, 0, 0, 0);}
.col_margin{width: 1.5rem; background-color: rgba(255, 0, 0, 0);}


.col_full_mob{width: 100%; background-color: rgba(238, 130, 238, 0); display: flex; flex-direction: column;}

.col_half_mob{width:50%; background-color: rgba(210, 180, 140, 0);}


.h_photo_margin{height: 1.5rem; background-color: rgba(255, 0, 0, 0);}

.h_photo{height: 100%;}


#h45{height: 45vh; background-color: green;}
#h15{height: 15vh; background-color: rgb(128, 119, 0);}
#h19{height: 19vh; background-color: rgb(113, 0, 128);}
.h5{height: 5vh; background-color: orangered;}
.h6{height: 6vh; background-color: navy;}

.h10{height: 10vh; background-color:aqua;}
#h3{height: 3vh; background-color: rgb(0, 0, 0);}

.h_footer_mob{height: 5vh; background-color:rgba(0, 255, 255, 0); display: block;}
.h_footer_web{height: 5vh; background-color:aqua; display: none;}


.col_1_menu_web{display: none;}

.h70{height: 7rem;}


.h40{height: 5.5rem;}

.h80{height: 10rem;}

.h140{height: 14rem;}

.h100{height: 12rem;}
.h120{height: 12rem;}
.h200{height: 20rem;}




.move_1_1{
    position: relative;
}

.move_1_2{
    position: absolute;
    /*left: 5rem;*/
    padding-top: 2rem;

    white-space: nowrap;
}

.move_2_1{
    position: relative;
}

.move_2_2{
    position: absolute;
    padding-top: 2rem;
    left: 100%;
    transform: translate(-100%);
}


    
.menu{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #C2C2C2;
    font-size: 1.6rem;

    position: fixed;

    background-color: rgba(232, 232, 232, 0.4);
    
    backdrop-filter: blur(12px)


}


#inner_title_web{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #515151;
    font-size: 3.5rem;

    padding-bottom: 4rem;

}



.inner_middle_title_web{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #515151;
    font-size: 1.5rem;

    line-height: 120%;
}

.inner_middle_title_web span{
    color: #C2C2C2;

    font-weight: 400;

}


.thumb_middle_title_web{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #C2C2C2;
    font-size: 2.5rem;

    line-height: 90%;
}




.thumb_middle_title_web span{
    color: #C2C2C2;

    font-size: 1.8rem;

}

.thumb_middle_title_web p{
    padding-top: 1rem;
}






#about_mob{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #515151;
    font-size: 2rem;

    text-align: center;

    display: block;
}



#about_detail{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.about_middle{
    font-weight: 600;
    font-size: 1.6rem;


    line-height: 1.5rem;

}

/* .about_small{
    font-weight: 400;
    font-size: 1.6rem;
    white-space : normal;
} */

.about_middle span{
    font-weight: 400;
    text-align: center;
}

.mob_footer_1{
    font-weight: 600;
    font-size: 1.5rem;
    color: #C2C2C2;

    display: flex;
    align-items: center;


}


#mob_footer_2{
    padding-top: 1.5rem;

}





/* 작품 제목 */
#in_title{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #515151;
    font-size: 3rem;

    line-height: 120%;

    word-break:normal;




}



/* 작품 유형 글씨 스타일*/
.cate_font{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #515151;
    font-size: 1.5rem;

    line-height: 120%;




}


/* 썸네일 페이지 영문제목 */
.eng_thumb_title{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #C2C2C2;
    font-size: 2rem;

    line-height: 95%;


}


/* 작품 설명 글씨 스타일*/
.eng{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #515151;
    font-size: 2rem;

    line-height: 120%;


}

.eng_innerPage_title_description{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #515151;
    font-size: 1.5rem;

    line-height: 120%;

}


.eng_innerPage_title_description span{

}


.kor{
    font-family: "pretendard", sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: 1.35rem;

    line-height: 140%;

    color: #C2C2C2;

    word-break: keep-all;
}



/* 작품 설명 and 유형 and 년도의 아래글씨 색상 변경 */
.col_half_mob span{
    color: #C2C2C2;

    font-weight: 400;
}


/* 작품 cate, year 항목 내리는 장치 */
.type_year_move{
    /* padding-top: 5rem; */
}







/* 작품 디자이너 글씨 스타일 */
.col_full_mob p{
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #515151;
    font-size: 1.5rem;

    line-height: 120%;

}


/* 작품 디자이너 이름 아래 아래글씨 색상 변경  */
.col_full_mob span{
    color: #C2C2C2;

    font-weight: 400;
}


.photo{
    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content: space-around;

    gap: 1.5rem;

    /* overflow-y: hidden; */
}



.photo_inner_thumb_interval{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;


    gap: 10vh;

    /* justify-content:space-around; */



    /* overflow-y: hidden; */
}



.photo_inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;


    gap: 2vh;

    /* justify-content:space-around; */



    /* overflow-y: hidden; */
}




.photo_inner_items{

    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

    position: relative;

    /* overflow-y: hidden; */

    width: 1000px;

    object-fit: fill;

}



/* 절반 절반 사진 그리드 유지하게 해주는 flex박스 */
.photo_inner_items_harf{

    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

    position: relative;

    /* overflow-y: hidden; */

    width: 800px;
    
    object-fit: fill;

}



.photo_inner_items_thumb{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

    position: relative;

    overflow-y: hidden;

    width: 360px;
}



.photo_inner_items_thumb a{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: black; */
}





figure img{
    width: 100%;
    object-fit: fill;
}


/* FLEX 박스로 사진 넣기 */
/* .flex_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}



.flex_img{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
} */











/* 카피 라이트 - 푸터 */
.col_copy_web{
    /* display: block; */

    /* position: fixed; */

    /* bottom:3%;
    left: 100%;
    transform: translate(-100%); */

    position: relative;

    font-family: "neue-haas-unica", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #C2C2C2;
    font-size: 1.4rem;

    line-height: 120%;

    /* top: 100%;
    transform: translate(-100%); */

    padding-top: 2.5rem;
}




.body_inner{
    display: block;
}





#type_move_web_1{
    position: relative;
}


#type_move_web_2{
    position: absolute;
    left: 100%;
    transform: translate(-100%);
}



.inner_body{
    display: none;
}



.h_inner_photo_margin{height: 2vh; background-color: rgb(98, 21, 192)1);}


.thumbnail_margin{height: 1vh; background-color: rgba(238, 130, 238, 0);}


.thumb_bottom span{
    color: #C2C2C2;

    font-size: 1.6rem;
}





.blank_image{
    width: 100%;
    height: 100%;

    background-color: #E8E8E8;



}




/*웹 용*/
@media all and (min-width:900px)
{   
    .inner_body{
        display: block;

    }


    .body_inner{
        display: none;
    }

    .menu{
        display: none;
    }

    .move_1_2 p{

        white-space: nowrap;
    }



    /*웹용 칼럼*/


    .col_2_mob{display: none;}

    .col_1_mob{display: none;}


    .col_1_menu_web{display:block; width: 21vh; background-color: rgba(232, 232, 232, 0);;
    }
    .col_1_web{display:block; width: 21vh; background-color: rgba(0, 255, 17, 0.799); flex-basis: 1;}


    /* 카피 라이트 - 푸터 */
    .col_copy_web{

        display: block;

        position: fixed;

        bottom:1%;
        left: 100%;
        transform: translate(-100%);

        font-family: "neue-haas-unica", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #C2C2C2;
        font-size: 1.5rem;

        text-align: center;
    }


    /*마진 */
    .col_margin_menu{width: 2vh; background-color: rgba(232, 232, 232, 0);}

    
    .col_margin{width: 2vh; background-color: rgb(0, 0, 0);}
    .col_margin_web_content{width: 2vh; background-color: rgb(0, 0, 0);}


    .h75{height: 5rem;}

    .h30{height: 7rem;}



    .h18{height: 18rem;}

    .h5_inner_title{height: 5rem;}

    .h150{height: 15rem;}

    .h40{height: 100vh;}


    .move_1_1{
        position: relative;
    }

    .move_1_2{
        position: absolute;
        /*left: 5rem;*/
        padding-top: 0.9rem;
    }



    .web_work{
        position: relative;
    }
    
    .web_work_move{
        position: absolute;
        padding-top: 0.9rem;
        left: 100%;
        transform: translate(-100%);
    }



    

    .menu_web{
        font-size: 1.8rem;

        font-family: "neue-haas-unica", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #C2C2C2;
        /* font-size: 1.6rem; */
    
        position: fixed;

        z-index: 15;

        background-color: rgba(232, 232, 232, 0.4);
    
        backdrop-filter: blur(12px)
    }

    #about_mob{

        font-size: 2.5rem;

        display: none;
    }


    #clock_1_1{
        position: relative;
    }

    #clock_1_2{
        position: absolute;
        /*left: 5rem;*/
        padding-top: 0.9rem;
        left: 100%;
        transform: translate(-100%);
    }


    #text_With_Clock{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .web_about_description{

        display: block;

        font-family: "neue-haas-unica", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #515151;
        font-size: 2rem;

        white-space : nowrap; 

        
        line-height: 2.2rem;
        
    }

    .web_about_description p{

        padding-top: 45vh;

    }

    .web_about_description span{

        font-weight: 400;
        

    }





    .h_footer_mob{display: none;}

    .h_footer_web{
        height: 5vh; 
        background-color:rgba(0, 255, 255, 0); 
        display: block;

        font-family: "neue-haas-unica", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #C2C2C2;
        font-size: 1.5rem;
    
        line-height: 120%;

        text-align: center;

        padding-top: 2.5rem;


    }





}